<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p>

<h2><%= @cocktail.name %></h2>

<% @cocktail.doses.each do |dose| %>
<p><%= dose.ingredient.name %></p>
<p><%= dose.id %></p>

<p><%= link_to "Dose", cocktail_dose_path(@cocktail, dose) %></p>
<p><%= link_to "Remove dose", cocktail_dose_path(@cocktail,dose), method: :delete %></p>
<% end %>

<%= link_to "Home", cocktails_path %>
<%= link_to "Edit", edit_cocktail_path(@cocktail) %>
